<main>
    <section>
        <div class="prix">
            <p>prix</p>
        </div>
        <p class="barre">
            <span class="red"></span>
            <span class="white"></span>
        </p>
        <div class="prix" style="display: flex; justify-content: space-between;">
            <span>0</span>
            <span>100</span>
            <span>200</span>
        </div>

    </section>
    <section>
        <div>
            <p>categorie</p>
            <p><i class="fa-solid fa-chevron-down"></i></p>
        </div>
        <form>
            <p><input type="checkbox"><label> bestsellers</label></p>
            <p><input type="checkbox"><label> goodless</label></p>
            <p><input type="checkbox"><label> vetements</label></p>
            <p><input type="checkbox"><label> affiches/posters</label></p>
            <p><input type="checkbox"><label> comics</label></p>
            <p><input type="checkbox"><label> multimedia</label></p>
            <p><input type="checkbox"><label> equipement</label></p>
            <p><input type="checkbox"><label> bijoux</label></p>
            <p><input type="checkbox"><label> vehicules</label></p>0566074437
        </form>
    </section>
    <section>
        <div>
            <p>couleur</p>
            <p><i class="fa-solid fa-chevron-down"></i></p>
        </div>
    </section>
    <section>
        <div>
            <p>univers</p>
            <p><i class="fa-solid fa-chevron-down"></i></p>
        </div>
        <form>
            <p><input type="checkbox" value="the batman" name=""></p>
            <p><input type="checkbox" value="the dark night" name=""></p>
            <p><input type="checkbox" value="barman v superman" name=""></p>
            <p><input type="checkbox" value="batman et robin" name=""></p>
            <p><input type="checkbox" value="autres(comics, dessins animes)" name=""></p>
        </form>
    </section>
</main>