main {
    width: 80%;
}

section {
    margin-bottom: 15px;
    div:not(.prix) {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid white;
    }
    .prix {
        margin-bottom: 15px;
    }
}

.barre {
    border-top: 3px solid white;
    width: 240px;
}