<footer>
    <div id="copy">
        <img src="../../../assets/logos/logo_0.png" alt="wb">
        <span>Ce projet respecte l’univers cinématographique des films Batman récents. Version Nolan & Snyder & Reeves.</span>
    </div>
    <div>
        <img src="../../../assets/logos/logo_1.png" alt="logo_sayna">
        <img src="../../../assets/logos/logo_2.png" alt="logo_x">
        <img src="../../../assets/logos/logo_3.png" alt="logo_dc">
        <img src="../../../assets/logos/logo_4.1.png" alt="logo_fb">
        <img src="../../../assets/logos/logo_5.png" alt="logo_ig">
        <img src="../../../assets/logos/logo_6.png" alt="logo_tw">
    </div>
</footer>