<main>
    <!-- SOCIAL FIXE -->
    <div class="social">
        <a href="#"><img src="../../../assets/logos/logo_bat_flèche.png" alt="fleche_bat_haut"></a>
        <a href="#"><img src="../../../assets/logos/logo_4.1.png" alt="icon_facebook"></a>
        <a href="#"><img src="../../../assets/logos/logo_5.png" alt="icon_instagram"></a>
        <a href="#"><img src="../../../assets/logos/logo_6.png" alt="icon_twitter"></a>
        <a href="#"><img src="../../../assets/logos/logo_bat_flèche_2.png" alt="fleche_bat_bas"></a>
    </div>

    <!-- HEROS -->
    <section id="hero_e-shop">
        <div class="container">
            <h2>recuperez le flow de batman avec notre e-shop!</h2>
            <img src="../../../assets/logos/flèche_down_header.png" alt="fleche_bas">
        </div>
    </section>
    <section style="display: flex; justify-content: space-between;" class="container">
        <div>
            <p>filtres</p>
        </div>
        <div>
            <i class="fa-solid fa-cart-shopping" routerLink="/cart"></i>
            <app-button text="voir le panier" routerLink="/cart"></app-button>
        </div>
    </section>
    <section class="catalog container">
        <div class="aside">
            <app-aside></app-aside>
        </div>
        <div class="product">
            <app-product></app-product>
        </div>
    </section>
</main>