<main>
    <section>
        <div>
            <img src="https://img.freepik.com/vecteurs-libre/illustration-concept-abstrait-erreur-404_335657-2243.jpg?w=740&t=st=1662658419~exp=1662659019~hmac=b2cd2e68bd6e2dd9b267d9effb38c07af1066780b690c9d64267b931a905aa0b" alt="" />
        </div>
        <div>
            <h1>404 ERROR</h1><br><br>
            <h3>Cette page n'existe pas.</h3><br><br>
            <button (click)="onRedirectHome()">Aller sur la page d'accueil</button> &nbsp;&nbsp;
            <button (click)="onRedirectEshop()">Aller sur la page de catalogue</button>
        </div>
    </section>
</main>