<main>
    <section>
        <div class="result">
            <div>
                <p>resultats: <span>{{products.length}}</span></p>
            </div>
            <div>
                <p>trier par <i class="fa-solid fa-chevron-down" style="color: red;"></i></p>
            </div>
        </div>
        <div class="article">
            <ng-container *ngFor="let productItem of products | paginate: { itemsPerPage: 6, currentPage: p }">
                <div>
                    <div class="articleCard">
                        <img [src]="productItem.image_url" alt="article" routerLink="product/{{productItem.id}}">
                        <p>{{productItem.nom_article}}</p>
                        <p>{{productItem.prix | currency:'EUR'}}</p>
                    </div>
                    <app-button text="ajouter au panier" (click)="addToCart(productItem)"></app-button>
                </div>
            </ng-container>
        </div>
        <div class="pagination">
            <pagination-controls (pageChange)="p = $event" previousLabel="Precedent" nextLabel="Suivant"></pagination-controls>
        </div>
    </section>
</main>