.result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .articleCard {
        border: 3px solid white;
        margin-bottom: 15px;
        margin-top: 15px;
        text-align: center;
        p {
            padding: 15px;
        }
    }
    .articleCard img {
        cursor: pointer;
    }
}

.pagination {
    text-align: center;
    margin-top: 15px;
    color: white;
}