<header>
    <div class="container">
        <nav>
            <div>
                <a routerLink="home"><img src="../../../assets/logos/logohome.png" alt="logo"></a>
            </div>
            <ul>
                <li><a routerLink="home" routerLinkActive="active">HOME</a></li>
                <li><a routerLink="game" routerLinkActive="active">GAME</a></li>
                <li><a routerLink="e-shop" routerLinkActive="active">E-SHOP</a></li>
                <li><a routerLink="mon-compte" routerLinkActive="active">MON COMPTE</a></li>
            </ul>
        </nav>
    </div>
</header>